<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Nawab's Personal Site</title>
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <link rel="icon" href="static/favicon.ico">
</head>

<body>
    <div class="top-container">
        <img class="sun" src="static/images/cloudy.png" alt="sun_image">
        <img class="eagle_image" src="static/images/gull-bird-flying-shape.png" alt="eagle_image">
        <img class="top-cloud" src="static/images/cloud.png" alt="cloud-img">
        <h1>I'm Firdos</h1>
        <a class="button" href="{{ url_for('hobbies') }}">My Hobbies</a>
        <a class="button2" href="https://github.com/shaikfirdos786/100DaysOfCoding">My Projects</a>
        <h2>a <span class="pro">pro</span>grammer</h2>
        <img class="group_of_birds"src="static/images/flying-doves-group.png" alt="flying-birds">
        <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud-img">
        <img src="static/images/mountain.png" alt="mountain-img">
    </div>
    <div class="middle-container">
        <div class="profile">
            <img class="my_pic" src="static/images/image.png" alt="my_image">
            <h2>Hello.</h2>
            <p class="bio">I am Shaik Firdos. Passionate Coder and student of A.V College of Arts Science and Commerce. I love Coding and I will become an Ethical Hacker.</p>
        </div>
        <hr>
        <div class="skills">
            <h2>My Skills.</h2>
            <div class="skill-row">
                <img class="python_image" src="static/images/python.png" alt="python_image">
                <h3>Python Language</h3>
            </div>
            <div class="skill-row">
                <img class="cplus_image" src="static/images/c++.png" alt="c++_image">
                <h3>C++ Language</h3>
            </div>
            <div class="skill-row">
                <img class="c_image" src="static/images/C_Logo.png" alt="c_image">
                <h3>C Language</h3>
            </div>
            <div class="skill-row">
                <img class="data_structure_image" src="static/images/data_structure.png" alt="data_structure_image">
                <h3>Data Structures</h3>
            </div>
        </div>
        <hr>
        <div class="contact-me">
            <h2>Get In Touch</h2>
            <h3>Amateurs hack systems, professionals hack people.</h3>
            <p class="quote">Never underestimate the determination of a kid who is time-rich and cash-poor.</p>
            <a class="btn" href="mailto:fidduraza9876@gmail.com">CONTACT ME</a>
        </div>
    </div>


    <div class="bottom-container">
        <a class="footer-link" href="https://www.linkedin.com/in/firdos-shaik-551b4222b/">LinkedIn</a>
        <a class="footer-link" href="https://twitter.com/Nawab4581">Twitter</a>
        <a class="footer-link" href="https://www.facebook.com/firdosraza.shaik">Facebook</a>
        <a class="footer-link" href="https://www.instagram.com/shaikfirdosraza/">Instagram</a>
        <a class="footer-link" href="https://github.com/shaikfirdos786">Github </a>
        <p class="copyright">© 2023 Firdos Shaik.</p>
    </div>
</body>

</html>
