<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Hobbies</title>
        <style media="screen">
            body {
                margin: 0;
                background-color: #EAFDFC;
                text-align: center;
                font-size: 20px;
            }
            .background_image {
                width: 50%;
                height: 50%;
                background-color: #EAFDFC;

            }

            h1 {
                color: #11999E;
            }

            h3 {
                color: #40514E;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>My Hobbies:</h1>
            <br>
            <h3>Debugging Codes</h3>
            <h3>Reading Books</h3>
            <h3>Surfing the Internet</h3>
        </div>
        <img class="background_image" src="static/images/technology1.jpg" alt="image">
    </body>
</html>
